
body{
    background-color: #ffffff !important;
}

/** HEADER **/

.logo-name .name-s a{
    font-size: 20px;
    font-weight: 700;
    color: #03002b !important;
}

.bg-nav{
    background-color: #e6c477 !important;
}

.navbar .logo-name .logo-info .logo-s{
    width: 100px;
}

.navbar .font-nav{
    font-weight: 700 !important;
    color: #03002b !important;
}


.our-menu{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}



.navitems{
    text-align: center;
    font-size: 18px;
    font-weight:500;
    
}

.navitems a{
    color: #03002b;
}

.navitems a:hover {
    color: #567c3f;
}

.navitems a:focus {
    color: #567c3f;
}

/** HEADER END**/


/** MAIN **/

.menu .mani-box{
    background-color: #e6c477;
    padding: 20px;
    margin: 5px;
}

.menu .mani-box h3{
   text-align: center;
   color: #567c3f;
}

.menu .mani-box .top{
    font-weight: 600;
    color: #557c3e;
}



/** MAIN END**/


/** FOOTER **/

.home-footer{
    background-color: #202020;
    padding-top: 50px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.home-footer .hours, .home-footer .address, .home-footer .testimonials{
    color: rgb(245, 245, 245);
}

.home-footer .hs, .home-footer .as{
    font-weight: 600;
    font-size: 1.3em;
    color: #557c3e;
}

.home-footer .footer-copy{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e0e0e;
    padding-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #557c3e;
    text-decoration: none !important;
    margin-top: 10px;
} 

.home-footer .copy{
    margin-bottom: -1px;
}

@media (max-width: 767px) {
    .home-footer {
      text-align: center;
    }

    .home-footer .hours, .home-footer .address, .home-footer .testimonials{
        padding: 34px;
        margin-top: -50px;
    }

  }

/** FOOTER END **/



